/* browser.css */
body {
    background-color: white;
}

h1 {
    font-size: 24;
}

h2 {
    font-size: 20;
}

p {
    font-size: 12;
}

a { color: blue; }
i { font-style: italic; }
b { font-weight: bold; }
small { font-size: 90%; }
big { font-size: 110%; }